:root {
  --ff-headers: 'Geologica', sans-serif;
  --ff-main: 'Onest', sans-serif;

  --container-padding: 24px;
  --container-width: 1400px;

  --basic-black: #000;
  --basic-white: #ffffff;
  --accent-white: #F9FAFB;
  --white-300: #E9EFF5;
  --white-400: #EEF0F5;
  --title-text: #35393D;
  --title-text-100: #4D5052;
  --title-text-200: #2E363E;
  --title-text-300: #5C5F64;
  --title-text-400: #595C5F;
  --title-text-500: #96B2CC;
  --card-border: #E5E5E5;
  --card-border-100: #E3E3E3;
  --card-border-200: #D5DDE5;
  --basic-gray: #303437;
  --basic-gray-100: #242627;
  --light-gray: #EFF7FF;
  --stroke: rgba(255, 255, 255, 0.06);
  --text-100: #D9EDFF;
  --accent-green: #C1FB68;
  --accent-green-100: #EDF4E2;
  --accent-green-500: #23430E;
  --accent-blue: #0A4B88;
  --accent-blue-100: #17BBEE;
  --accent-blue-200: #0E457A;
  --accent-blue-300: #184772;
  --accent-light-blue: #9AEAF8;

  --transition-value: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--ff-main);
  font-size: 15px;
  color: var(--basic-gray);
  background-color: var(--basic-white);
}

body.popup-open {
  overflow: hidden;

}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

ul li {
  list-style-type: none;
}

a {
  transition: color var(--transition-value);
}

a:hover {
  color: var(--accent-green);
}

.container {
  box-sizing: content-box;
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--ff-main);
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-value);
}

.button--primary {
  font-weight: 800;
  color: var(--accent-blue);
  background-color: white;
}

.button--secondary {
  position: relative;
  overflow: hidden;
  padding: 32px 37px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accent-green);
  color: #163800;
  transition: background-color var(--transition-value);
}

.button--primary:hover {
  background-color: var(--accent-green);
}

.button--secondary:hover {
  background-color: #91FFF2;
}

.highlighted {
  color: var(--accent-light-blue);
}

.highlighted--second {
  color: var(--accent-blue);
}

.section-title {
  font-family: var(--ff-headers);
  font-size: 38px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--title-text);
  text-transform: uppercase;
}

.promo-count {
  position: relative;
  padding: 10px 10px 10px 40px;
  border-radius: 900px;
  background: radial-gradient(68.87% 73.05% at 67.96% 10.68%, #EABC59 0%, #FA511E 100%);
}

.promo-count__text {
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
  color: var(--basic-white);
}

.promo-count__icon {
  position: absolute;
  left: -8px;
  bottom: 0;
}

.purification-nav {
  display: none;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.purification-nav__pagination {
  width: auto !important;
  display: flex;
  align-items: center;
  gap: 4px;
}

.purification-nav .swiper-pagination-bullet {
  margin: 0 !important;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purification-nav .swiper-pagination-bullet::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid;
  transition: all 0.3s ease;
}

.purification-nav .swiper-pagination-bullet-active::before {
  border-color: transparent;
  background-color: var(--accent-blue);
}

.purification-nav__arrow {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #E7EDF3;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.purification-nav__arrow svg path {
  transition: stroke 0.3s ease;
}

.purification-nav__arrow:hover {
  background-color: var(--accent-blue);
}

.purification-nav__arrow:hover svg path {
  stroke: white;
}

.acceptance {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  cursor: pointer;
  color: #92AFCA;
}

.acceptance__checkbox-wrap {
  cursor: pointer;
}

.acceptance__checkbox-wrap .acceptance__checkbox:checked+.acceptance__checkbox-indicator {
  background-color: var(--accent-green);
  border-color: var(--accent-green);
}

.acceptance__checkbox-wrap .acceptance__checkbox:checked+.acceptance__checkbox-indicator::before {
  opacity: 1;
}

.acceptance__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.acceptance__checkbox-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--white-400);
  background-color: var(--basic-white);
  transition: all var(--transition-value);
}

.acceptance__checkbox-indicator::before {
  content: '';
  width: 14px;
  height: 14px;
  background-image: url("../images/tick-2.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all var(--transition-value);
}

.acceptance__agreement a {
  color: #92AFCA;
}

.acceptance__agreement a:hover {
  color: var(--accent-green);
}

.progressbar {
  position: fixed;
  top: 79px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--accent-green);
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}